
	div
		{
		    border-style: solid;
		    border-color: yellow;
		}
/*	html, body 
		{
			height: 100%;
		}
	.headerparent
		{
			height: 100%;
		}*/
	.headername
		{
			background-color: #4aaaa5;
			color: white;
			/*height: 100%;*/ /*question for Oliver*/
			height: 4em;
			text-align: center;

		}
	.middlebackground
		{
			background-color: #dddddd; /*light grey*/
			width: 100%;
		}

	.contentbox
		{
			background-color: white;
		}
	.jumbotron
		{
			text-align: center;
			background-color: #666666;
			color: rgb(158, 180, 179);
		}
	.contentbox h4
		{
			color: #4aaaa5;
		}
	
	@media (min-width: 10px) and (max-width:980px)

		{
			
		    .firstspacing
				{
					height: 50px;
				}
		@media (min-width: 10px) and (max-width:768px)

		{
			
		    .secondspacing
				{
					height: 50px;
				}
		}
	/*		body
			{
				background-color: blue;
			}
	*/
	/*		footer
			 	{
				    padding: 50px;
				    color: rgb(158, 180, 179);
				    background-color: rgb(106, 121, 120);
				    text-align: center;
				    position: fixed;
				    bottom:0;
				    left:0;
				    width: 100%;
				    height: 50px;
				}	
	*/
		}
	/*@media and (max-width:768px)

		{
		.col-
				{
					width: 100%;
				}*/